
div.footer {
  width: 100vw;
  height: 130px;

  padding: 32px 80px;

  display: flex;
  justify-content: space-between;

  p {
    color: #333333;
  }

  div.footer-left {
    img {
      width: 250px;
      height: 40px;
    }
  }

  div.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img {
      width: 33px;
      height: 33px;
    }

    p {
      display: inline;
    }

    p:hover {
      color: $mainTextColor;
      transition: 0.2s;
    }
  }
}
