
div.header {

  width: 100vw;
  height: 65px;
  padding: 0px 80px 0px 80px;
  background: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;

  z-index: 1;

  div.header-left {

    img {
      width: 245px;
      height: 30px;
    }

  }

  div.header-right {

    a {
      color: $mainTextColor;
      padding-right: 20px;
      text-decoration: none;
    }

    #dropdown {
      position: relative;
    }

    div.dropdownOrder {
      display: none;
    }

    div.showDropdownOrder {
      display: block;
      width: 160px;
      background: white;
      text-align: left;

      position: absolute;
      right: 0%;
      top: 200%;

      box-shadow: 0 2px 16px 0 rgba(0,0,0,0.08);

      p {
        padding: 3px 20px;
      }
    }
  }
}
